In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
import pyspark.sql.functions as F

In [4]:
spark = SparkSession.builder.appName("work_with_file").getOrCreate()

In [17]:
dffile = spark.read.format("csv").option("header","true").load("sales_data.csv")

In [18]:
dfdd = dffile.dropDuplicates()

In [19]:
dfdd.show(3)

+---------+---------------+-----------+
|ProductID|TransactionDate|SalesAmount|
+---------+---------------+-----------+
|     2945|      2020-3-21|      461.9|
|     4281|      2010-4-13|     279.84|
|     2025|      2011-9-26|     105.09|
+---------+---------------+-----------+
only showing top 3 rows

In [22]:
df_valid_data = dfdd.na.fill(value=0,subset=["SalesAmount"])\
    .na.fill(value="",subset=["TransactionDate"])\
    .na.fill(value=0,subset=["ProductID"])

In [28]:
df_agg_date = df_valid_data.groupBy("ProductID").agg(
    F.round(F.sum("SalesAmount"),2).alias("Sum"),
    F.round(F.avg("SalesAmount"),2).alias("Avg"),
    F.count("SalesAmount").alias("Count")
)

In [29]:
df_agg_date.orderBy(F.col("Count").desc()).select("ProductID","Count").show(10)

+---------+-----+
|ProductID|Count|
+---------+-----+
|     4397|  250|
|     4436|  250|
|     3687|  249|
|      287|  248|
|     1398|  245|
|     4109|  244|
|     3799|  244|
|     1385|  243|
|       68|  243|
|     4854|  243|
+---------+-----+
only showing top 10 rows

In [30]:
df_agg_date.orderBy(F.col("Avg").desc()).select("ProductID","Avg").show(10)

+---------+------+
|ProductID|   Avg|
+---------+------+
|      268|300.82|
|     4373|290.31|
|     4461|289.66|
|     3696|289.04|
|     1831|287.13|
|     4534|286.56|
|     3859|285.27|
|     4203|285.05|
|      921|284.72|
|     2530|284.46|
+---------+------+
only showing top 10 rows

In [31]:
df_with_year_month = df_valid_data\
    .withColumn("Year",F.year("TransactionDate"))\
    .withColumn("Month",F.month("TransactionDate"))

In [34]:
df_with_year_month.groupBy("Year","Month").agg(
    F.round(F.sum("SalesAmount"),2).alias("Sum")
).show()

+----+-----+----------+
|Year|Month|       Sum|
+----+-----+----------+
|2022|   10|1512293.09|
|2012|   10|1531084.54|
|2010|   12| 1523618.7|
|2010|    7|1524210.42|
|2015|    2|1527827.76|
|2019|   10|1526347.56|
|2017|    3|1511505.63|
|2017|    8|1484452.14|
|2014|    4|1491672.65|
|2020|    6|1525667.85|
|2019|    5|1492053.63|
|2017|   10|1535215.63|
|2018|   10| 1520160.5|
|2021|    8|1495608.84|
|2015|   12|1529252.69|
|2016|    7|1556638.12|
|2016|   11|1510172.71|
|2021|    6|1531925.38|
|2023|    9|1532568.25|
|2023|    8|1536898.69|
+----+-----+----------+
only showing top 20 rows

In [50]:
win = Window.partitionBy().orderBy(F.col("TransactionDate").asc()).rowsBetween(Window.currentRow - 5,Window.currentRow)

df_valid_data = df_valid_data.filter(F.col("TransactionDate") > F.add_months(F.current_date(), -6))
df_valid_data = df_valid_data.withColumn("roll", F.round(F.avg("SalesAmount").over(win),2))

In [52]:
df_valid_data.show(50)

23/10/09 18:41:14 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+---------+---------------+-----------+------+
|ProductID|TransactionDate|SalesAmount|  roll|
+---------+---------------+-----------+------+
|     2714|      2023-10-1|      56.33| 56.33|
|     1069|      2023-10-1|     362.38|209.36|
|     3529|      2023-10-1|      45.77|154.83|
|      144|      2023-10-1|     323.33|196.95|
|     1151|      2023-10-1|     113.62|180.29|
|     4108|      2023-10-1|      249.7|191.86|
|      246|      2023-10-1|     499.53|265.72|
|     1708|      2023-10-1|     408.08|273.34|
|     4841|      2023-10-1|     174.55| 294.8|
|     2206|      2023-10-1|      28.39|245.64|
|     4771|      2023-10-1|      48.19|234.74|
|     2751|      2023-10-1|     216.67|229.24|
|     3273|      2023-10-1|      87.98|160.64|
|     3251|      2023-10-1|     172.31|121.35|
|     2553|      2023-10-1|     152.62|117.69|
|     3486|      2023-10-1|     109.14|131.15|
|     2198|      2023-10-1|      482.0|203.45|
|     1388|      2023-10-1|     271.22|212.55|
|     2934|      2023-10-1|     372.06|259.89|
|     4483|      2023-10-1|      77.29|244.05|
|      100|      2023-10-1|      49.38|226.85|
|     4056|      2023-10-1|      71.32|220.55|
|     4600|      2023-10-1|     189.08|171.73|
|     4626|      2023-10-1|      67.32|137.74|
|      804|      2023-10-1|     494.44|158.14|
|     4993|      2023-10-1|     417.37|214.82|
|     3965|      2023-10-1|     117.06| 226.1|
|      841|      2023-10-1|     416.53|283.63|
|     2624|      2023-10-1|     198.76|285.25|
|      807|      2023-10-1|     416.94|343.52|
|      333|      2023-10-1|     361.93|321.43|
|     2275|      2023-10-1|      11.39|253.77|
|      231|      2023-10-1|      137.4|257.16|
|     3285|      2023-10-1|     389.58|252.67|
|     2934|      2023-10-1|     201.22|253.08|
|     2747|      2023-10-1|     330.66| 238.7|
|     3391|      2023-10-1|     231.14| 216.9|
|     1991|      2023-10-1|      462.3|292.05|
|     1173|      2023-10-1|       28.2|273.85|
|     3446|      2023-10-1|      309.2|260.45|
|     2986|      2023-10-1|     197.64|259.86|
|      169|      2023-10-1|     181.68|235.03|
|     2220|      2023-10-1|     200.14|229.86|
|     4127|      2023-10-1|      94.41|168.55|
|     1786|      2023-10-1|      369.5|225.43|
|     1430|      2023-10-1|      94.62|189.66|
|      713|      2023-10-1|      21.57|160.32|
|     3341|      2023-10-1|     421.06|200.22|
|     3564|      2023-10-1|     207.37|201.42|
|     2325|      2023-10-1|     347.43|243.59|
+---------+---------------+-----------+------+
only showing top 50 rows

In [46]:
!pwd

/home/jovyan